<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nju.androidfinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFinal"
        android:usesCleartextTraffic="true">
        <activity android:name=".upload.UploadActivity"></activity>
        <activity android:name=".upload.FilmActivity" />
        <activity android:name=".PersonalCenter" />
        <activity android:name=".login.FindbackActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".videoList.VideoListActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".OpenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>